Django==4.2.6
#### asgiref==3.7.2
#### sqlparse==0.4.4
#### typing_extensions==4.8.0

django-sql-explorer==3.2.1

psycopg2==2.9.9
psycopg2-binary==2.9.9

weasyprint==60.1
#### Brotli==1.1.0
#### cffi==1.16.0
#### cssselect2==0.7.0
#### fonttools==4.43.1
#### html5lib==1.1
#### Pillow==10.1.0
#### pycparser==2.21
#### pydyf==0.8.0
#### pyphen==0.14.0
#### six==1.16.0
#### sqlparse==0.4.4
#### tinycss2==1.2.1
#### typing_extensions==4.8.0
#### webencodings==0.5.1
#### zopfli==0.2.3

PyPDF2==3.0.1

pdf2image==1.16.3
